@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.karta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 255px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.karta .przod{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s; 
}
.karta:hover .przod{
    transform: rotateX(-180deg);
}
.karta .tyl{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s; 
}
.karta .tyl:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    
}
.karta:hover .tyl{
    transform: rotateX(0deg);
}
.karta .tyl .szczegol{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;   
}
.karta .tyl .szczegol h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}

.karta. tyl .szczegol h2 span{
    color: #a7a7a7;
    font-size: 16px;
}

.sociale{
    padding: 10px 0;
}
.sociale a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}

.sociale a .fa{
    line-height: 36px;
}

.sociale a:hover {
   background: #e91e61;
}


















